@charset "UTF-8";

body {
    background-color: purple;
    font-family: Arial;
    font-size: 20px;
}

h1 {
    color: darkorange;
    background-color: darkred;
}

h2 {
    color: greenyellow;
}

p {
    text-align: justify;
}