@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

/* 
font-family: 'Passion One', cursive;
font-family: 'Sriracha', cursive; 
*/

/* Comentar o que eu errei e o que o erro estava causando. */

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    background-color: black;
    color: white;
    /* padding: 85px; 
        ^ substitui por padding-top/padding-bottom no h1 e p */
    /* margin-bottom: 40px; 
        ^ removi */
}

header h1 {
    font-family: 'Passion One', cursive;
    font-size: 10vw;
    font-variant: small-caps;
    padding-top: 50px;
}
header p {
    padding-bottom: 50px;
}

/* 
main p {
    /* font-size: 2em; */
    /* Sem necessidade NENHUMA ter esse font-size aqui, fazia com que a letra ficasse grande dms, parecia q o line-height nem fazia diferença.
}
/* essa main aqui COMPLETAMENTE DESNECESSÁRIA */


section *{
    font-family: 'Sriracha', cursive;   
    font-size: 3.5vw;
    line-height: 2em;

    margin-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    
}
section#arno {
    background-image: url('assets/arno.jpg');
    background-position: center center;
}
section#ezio {
    background-image: url('assets/ezio.jpg');
    background-position: center bottom;
}
section.imagem {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* width: 98vw; */
}
section.imagem > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.411);

    padding-left: 5px;
    /* width: 400px;
    ^ Desnecessário por conta da linha de baixo. Eu estava tentando deixar visível o fundo semi-transparente assim que acaba a linha.  */
    display: inline-block;
    /* Essa linha fez exatamente o que eu queria. Assim que a maior linha do parágrafo é quebrada, o bloco tem sua medida calculada. */
}

footer{
    text-align: center;
    color: white;
    background-color: black;
}
footer a {
    color: white;
}
footer a:hover {
    font-size: 1.2em;
}

footer a::after {
    content: '⚓';
}